{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--
    - custom css link
  -->

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}Shae's Blog{% endblock title %}</title>
  </head>

  <body class="light-theme">
    {% include 'navbar.html' %} {% block content %} {% endblock %}
     {% include  "footer.html" %}
    <!-- Bootsrap script -->
  </body>
</html>
