{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!--
    - custom css link
  -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Shae's Blog{% endblock title %}</title>
  </head>

  <body class="light-theme">
    {% include 'navbar.html' %} {% block content %} {% endblock %} {% include
    "footer.html" %}
    <!-- Bootsrap script -->
  </body>
</html>
